{
    "compiler": "component",
    "name": "avalon",
    "author": "hao.lin, jifeng.yao, Hotel" , 
    "email": "hao.lin@qunar.com, jifeng.yao@qunar.com" ,
    "repository": "http://gitlab.corp.qunar.com/fed/avalon" ,
    "description": "avalon框架" ,
    "version": "1.4.2",
    "dependencies": {},
    "alias": {},
    "export": []
}
